@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility font-harmony {
  font-family: var(--font-harmonyos-sans);
}
@utility font-noto {
  font-family: var(--font-noto-sans);
}

* {
  flex-shrink: 0;
  -webkit-user-select: none;
  user-select: none;
}
html {
  font-size: clamp(0.875rem, 1.2vw, 1.25rem);
}
body,
html {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-harmonyos-sans), var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
.contain {
  scrollbar-width: none;
}
.contain::-webkit-scrollbar {
  display: none;
}
