@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@utility font-harmony {
  font-family: var(--font-harmonyos-sans);
}
@utility font-noto {
  font-family: var(--font-noto-sans);
}

* {
  flex-shrink: 0;
  -webkit-user-select: none;
  user-select: none;
}
span {
  display: inline-block;
}
html {
  font-size: clamp(0.875rem, 1.2vw, 1.25rem);
}
body,
html {
  width: 100vw;
  height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-harmonyos-sans), var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
.contain {
  scrollbar-width: none;
}
.contain::-webkit-scrollbar {
  display: none;
}

/* ====== Siderbar 组件样式 ====== */
.siderbar {
  animation: moveInto linear;
  animation-timeline: scroll();
  animation-range: 0 100vh;
}
@keyframes moveInto {
  from {
    transform: translateX(-4.4rem);
  }
  to {
    transform: translateX(0);
  }
}
.siderbar::after {
  content: '';
  position: absolute;
  left: 0;
  width: 3.6rem;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.3s;
  box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.1);
  z-index: -2;
}
.siderbar:hover::after {
  width: 10.8rem;
}
.siderbar:hover .navItem::after {
  pointer-events: auto;
}
.siderbar:hover .navSelected::after {
  pointer-events: auto;
}

.navText {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}
.siderbar:hover .navText {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.navItem::after {
  content: '';
  position: absolute;
  left: 0.6rem;
  width: 9.4rem;
  height: 100%;
  background-color: #e6e6e6;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
  pointer-events: none;
}
.navItem:hover::after {
  opacity: 1;
}

.navicon {
  transition: color 0.3s;
}
.navItem:hover .navicon {
  color: #858585;
}

.navSelected::after {
  content: '';
  position: absolute;
  left: 3.6rem;
  width: 6.4rem;
  height: 100%;
  background-color: #e6e6e600;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.navSelected:hover::after {
  opacity: 1;
}

.stripe::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #191919;
  background-image: linear-gradient(
    -45deg,
    transparent,
    transparent 16.1610023423%,
    black 0,
    black 33.8389976577%,
    transparent 0,
    transparent 66.1610023423%,
    black 0,
    black 83.8389976577%,
    transparent 0,
    transparent
  );
  background-size: 0.2rem 0.2rem;
  background-repeat: repeat;
  border-radius: 4px;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.stripe:hover .joinText {
  color: #000000;
}
.stripe:hover svg {
  color: #000000;
}
.stripe:hover .joinLine {
  background-color: #000000;
}
/* ====== LaunchAnimation 组件样式 ====== */
.animeContain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #141414;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.animeBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/icon/animebg.png');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fadeIn 1s ease 6.5s forwards;
}

.logoContainer {
  animation: fadeOut 0.5s ease 6s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* ====== 进度条 ====== */
.progressBox {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 20;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00d4ff;
  transition: height 0.05s linear;
}

.progressText {
  position: absolute;
  left: calc(100% + 0.5rem);
  top: calc(100% - 1rem);
  white-space: nowrap;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
