.siderbar::after {
  content: '';
  position: absolute;
  left: 0;
  width: 3.6rem;
  height: 100%;
  background-color: #ffffff;
  transition: width 0.3s;
  box-shadow: 4px 0 10px -8px rgba(0, 0, 0, 0.1);
  z-index: -2;
}
.siderbar:hover::after {
  width: 10.8rem;
}
.siderbar:hover .navItem::after {
  pointer-events: auto;
}
.siderbar:hover .navSelected::after {
  pointer-events: auto;
}
.navtext {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  pointer-events: none;
}
.siderbar:hover .navtext {
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.navItem::after {
  content: '';
  position: absolute;
  left: 0.6rem;
  width: 9.4rem;
  height: 100%;
  background-color: #e6e6e6;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: -1;
  pointer-events: none;
}
.navItem:hover::after {
  opacity: 1;
}
.navicon {
  transition: color 0.3s;
}
.navItem:hover .navicon {
  color: #858585;
}
.navSelected::after {
  content: '';
  position: absolute;
  left: 3.6rem;
  width: 6.4rem;
  height: 100%;
  background-color: #e6e6e600;
  opacity: 0;
  z-index: 1;
  pointer-events: none;
}
.navSelected:hover::after {
  opacity: 1;
}
.stripe::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: #191919;
  background-image: linear-gradient(
    -45deg,
    transparent,
    transparent 16.1610023423%,
    black 0,
    black 33.8389976577%,
    transparent 0,
    transparent 66.1610023423%,
    black 0,
    black 83.8389976577%,
    transparent 0,
    transparent
  );
  background-size: 0.2rem 0.2rem;
  background-repeat: repeat;
  border-radius: 4px;
  transform-origin: bottom left;
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

.stripe:hover .joinText {
  color: #000000;
}
.stripe:hover svg {
  color: #000000;
}
.stripe:hover .joinLine {
  background-color: #000000;
}
